@model KCIAO.API.MVC.Models.EventoModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EventoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.desc_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.desc_evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dt_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dt_evento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_evento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
