@model KCIAO.API.MVC.Models.EventoModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EventoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.desc_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.desc_evento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dt_evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dt_evento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_evento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
